.box.box__listeners {
  .listeners {
    position: relative;
    margin-top: 15px;
    margin-bottom: 0;
    height: 80px;
    font-size: 3.25rem;
    overflow: hidden;

    &.animating {
      .listeners__current {
        transform: translateY(-68px);
      }

      .listeners__incoming {
        visibility: visible;
        transform: translateY(0);
      }

      &.end {
        .listeners__current {
          transform: translateY(0);
        }

        .listeners__incoming {
          visibility: none;
        }
      }
    }

    &__current,
    &__incoming {
      display: block;
      position: absolute;
      transition: transform 0.5s ease;
    }

    &__incoming {
      visibility: hidden;
      transform: translateY(68px);
    }
  }

  .content__settings {
    display: flex;
    justify-content: flex-end;

    > button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      background-color: #fff;
      border-radius: 50%;
      border: 0;
      box-shadow: 0 1px 8px 2px rgb(133, 159, 202);

      &:hover {
        cursor: pointer;
      }

      > img {
        width: 70%;
      }
    }
  }
}
