$bg-color: #232327;
$primary-color: #bd4958;

$btn-primary-color1: #847eff;
$btn-primary-color2: #D37FCC;
$btn-secondary-color1: #7b81ec;
$btn-secondary-color2: #3bd1d3;

$btn-primary-shadow1: #7b81ec;
$btn-primary-shadow2: #FA80d2;
$btn-secondary-shadow1: #9499f3;
$btn-secondary-shadow2: #7de6e7;

$slider-rail: #27304e;

$font-light: 300;

$slider-height: 4px;